.container{
  display: flex;
   /* align-items: left; */

  padding: 3%;
  border: 1px solid var(--main-color);
  border-radius: 2%; background-color: var(--main-color);
}
.container>*{
  color: var(--head-color);
}
.main-header{
  flex-grow: 0.5;
  font-size: 2rem;
}
.contact-info-header{
  display: inline-flex; 
  justify-content: space-between;
  flex-grow: 0.5;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
.head-phone{
  /* display: inline-block; */
}

.head-link{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
.phone{
  width: 48px;
  height: 48px;
  background-size: 48px;
  background-image: url(./../image/icon/phone.png);
}
.sing{
  text-align: center;
}
.sing-icon{
  width: 32px;
  height: 32px;
  background-size: 24px;
  background-image: url(./../image/icon/registration.png);
}
.burger{
  width: 32px;
  height: 32px;
  background-size: 64px;
  background-image: url(./../image/icon/image_button.png);
}


@media screen and (max-width: 768px) {
  .contact-info-header{
    display: none;
  }
}