body{
  max-width: 95vw;
  margin: auto;
}
:root{
  --main-color: #65C466;
  --head-color: white;

  font-family: 'Mulish', sans-serif;
  font-family: 'Water Brush', cursive;
  font-size: 12px;
}
.btn{
  padding: 1% 2%; 
  border: 1px solid var(--head-color);
  border-radius: 5%;
  background-color: #00000000;
}